{% extends 'shop/base.html' %}

{% block title %}
    Orders list
{% endblock %}

{% block body %}
    <h1>Orders:</h1>
    <div>
        {% if orders %}
            <div>
            {% for order in orders %}
                <div>
                    <p>Order by: {% firstof order.user.username order.user.firstname %}</p>
                    <p>Promocode <code>{{ order.promocode }}</code></p>
                    <p>Delivery address: {{ order.delivery_address }}</p>
                    <div>
                        Products in order:
                        <ul>
                            {% for product in order.products.all %}
                                <li>{{product.name}} for ${{product.price}}</li>
                            {% endfor %}
                        </ul>
                    </div>
            {% endfor %}
            </div>
        {% else %}
            <p>No orders yet</p>
        {% endif %}
    </div>
    <div>
    <a href="{% url 'shop:create_order' %}"
    >Create a new order
    </a>
    </div>
{% endblock %}